<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generate_config" xsi:type="object">Kstasik\Vim\Console\Command\GenerateConfigCommand</item>
                <item name="autocomplete" xsi:type="object">Kstasik\Vim\Console\Command\AutocompleteCommand</item>
            </argument>
        </arguments>
    </type>

    <preference for="Kstasik\Vim\Model\Config\ProcessorInterface" xsi:type="" />

    <type name="Kstasik\Vim\Model\Config\Generator">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="xsd" xsi:type="object">Kstasik\Vim\Model\Config\Processor\Xsd</item>
                <item name="install" xsi:type="object">Kstasik\Vim\Model\Config\Processor\Install</item>
                <item name="variables" xsi:type="object">Kstasik\Vim\Model\Config\Processor\Variables</item>
            </argument>
        </arguments>
    </type>
</config>
